extends ../layouts/default

block content
    #header: .container-fluid.header-wrapper
        div.nav-logo
            //- object(type='image/svg+xml', data='images/logo-main.svg')
            a(href='/'): img(src='images/milton-small-logo-name-only.png')
            ul(role='navigation').mobilenav
                li.nav-logo
                    a(href='/'): img(src='images/milton-small-logo-name-only-white.png')
                each link in navLinks
                    li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
                ul.social-links
                    //- Below icons Maicol Torti https://www.iconfinder.com/iconsets/squarico-free
                    li: a(href='https://www.facebook.com/miltonandsmall'): img(src='images/1462181599_squarico-19.png')
                    li: a(href='https://twitter.com/miltonandsmall'): img(src='images/1462255654_squarico-18.png')
                    li: a(href='https://www.instagram.com/miltonandsmall/'): img(src='images/1462181596_squarico-20.png')
            ul.social-links.home-social-links
                //- Below icons Maicol Torti https://www.iconfinder.com/iconsets/squarico-free
                li: a(href='https://www.facebook.com/miltonandsmall'): img(src='images/1462181599_squarico-19.png')
                li: a(href='https://twitter.com/miltonandsmall'): img(src='images/1462255654_squarico-18.png')
                li: a(href='https://www.instagram.com/miltonandsmall/'): img(src='images/1462181596_squarico-20.png')
            a(href='javascript:void(0)', class='icon')
                div.hamburger
                    div.menui.top-menu
                    div.menui.mid-menu
                    div.menui.bottom-menu
    #cemetary: .container
        .container
            .row.cemetary-header
                .col-xs-10.col-xs-offset-1.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1
                    h1 Flavor Cemetary
            .row.home-products
                .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-12
                    img(style='width: 25%;' src='images/1.1_Golden-Milk-compress.png')
                    h3 Turmeric + Ginger Golden Milk
                    p  Golden Milk is a nourishing and delicious combination of these two amazing roots and our housemade hemp milk. We boost bioavailability of the fat soluble Curcumin, Turmeric’s key compound, through the Omega 3 and 6 fatty acids provided by the hemp and the addition of black pepper. Superfood? Nah, more like super-duper!

            .row.home-products
                .col-md-5.col-md-offset-1.col-sm-5.col-sm-offset-1.col-xs-12
                    img(src='images/1.1_rtd-black-white-background-compress.jpeg')
                    h3 Black
                    p  These are our favorite coffees brewed the way we know best. Enjoy this one straight up, over ice, or as you please.
                    p INGREDIENTS: Water and Organic Coffees
                .col-md-5.col-sm-5.col-xs-12
                    img(src='images/1.1_rtd-cacao-white-background-compress.jpeg')
                    h3 Cacao Coffee
                    p  Together at last... A cold brew infusion of curated coffees and cacao, the might bean from which we get chocolate!
                    p INGREDIENTS: Water, Organic Coffees, Organic Cacao Nibs