extends ../layouts/default

block content
	#header: .container-fluid

		//- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
		//- ... or completely change this header to suit your design.
		div.nav-logo
			object(type='image/svg+xml', data='images/logo-main.svg')
		div(role='navigation').mobilenav
			each link in navLinks
				li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
		a(href='javascript:void(0)', class='icon')
			div.hamburger
				div.menui.top-menu
				div.menui.mid-menu
				div.menui.bottom-menu

	.container
		#contact-form.row: .col-sm-8.col-md-6
			form(id="contactform", action="//formspree.io/", method='POST')
				input(type='hidden', name='_subject', value='Milton & Small - Contact Form')
				input(type='hidden', name='_next', value='')
				input(type='text', name='_gotcha', style='display:none;')
				.form-group(class=validationErrors.name ? 'has-error' : null)
					input(style='height:34px; line-height:20px;', type='text', name='name', placeholder='NAME').form-control
				.form-group(class=validationErrors.email ? 'has-error' : null)
					input(style='height:34px; line-height:20px;', type='email', name='_replyto', placeholder='EMAIL').form-control
				.form-group(class=validationErrors.message ? 'has-error' : null)
					textarea(style='padding-top:8px;' name='message', placeholder='MESSAGE' rows=7).form-control
				.form-actions
					button(type='submit').submit-btn SUBMIT
