extends ../layouts/default

block content
	#header: .container-fluid
		div.nav-logo
			//- object(type='image/svg+xml', data='images/logo-main.svg')
			img(src='images/milton-small-logo-name-only.png')
		ul(role='navigation').mobilenav
			each link in navLinks
				li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
			.nav-logo
				img(src='images/milton-small-logo-name-only-white.png')
			ul.social-links
				//- Below icons Maicol Torti https://www.iconfinder.com/iconsets/squarico-free
				li: a(href='https://www.facebook.com/miltonandsmall'): img(src='images/1462181599_squarico-19.png')
				li: a(href='https://twitter.com/miltonandsmall'): img(src='images/1462255654_squarico-18.png')
				li: a(href='https://www.instagram.com/miltonandsmall/'): img(src='images/1462181596_squarico-20.png')
		a(href='javascript:void(0)', class='icon')
			div.hamburger
				div.menui.top-menu
				div.menui.mid-menu
				div.menui.bottom-menu

	#contact-form: .container
		.row: .col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3.col-xs-10.col-xs-offset-1.contact-summary
			h4 Hey! We LOVE hearing from you!
			p Feel free to drop us a note, tell us a story, or just say hello. And if you’re curious about having our products shipped to you, I’m sorry but it’s not going happen. Not even if you ask really really nicely.

		.row: .col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3.col-xs-10.col-xs-offset-1
			form(id="contactform", action="//formspree.io/", method='POST')
				input(type='hidden', name='_subject', value='Milton & Small - Contact Form')
				input(type='hidden', name='_next', value='')
				input(type='text', name='_gotcha', style='display:none;')
				.form-group(class=validationErrors.name ? 'has-error' : null)
					input(style='height:34px; line-height:20px;', type='text', name='name', placeholder='NAME').form-control
				.form-group(class=validationErrors.email ? 'has-error' : null)
					input(style='height:34px; line-height:20px;', type='email', name='_replyto', placeholder='EMAIL').form-control
				.form-group(class=validationErrors.message ? 'has-error' : null)
					textarea(style='padding-top:8px;' name='message', placeholder='MESSAGE' rows=7).form-control
				.form-actions
					button(type='submit').submit-btn SUBMIT
