extends ../layouts/default

block content
  #header: .container-fluid.header-wrapper
    div.nav-logo
      //- object(type='image/svg+xml', data='images/logo-main.svg')
      a(href='/'): img(src='images/milton-small-logo-name-only.png')
      ul(role='navigation').mobilenav
        li.nav-logo
          a(href='/'): img(src='images/milton-small-logo-name-only-white.png')
        each link in navLinks
          li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
        ul.social-links
          //- Below icons Maicol Torti https://www.iconfinder.com/iconsets/squarico-free
          li: a(href='https://www.facebook.com/miltonandsmall'): img(src='images/1462181599_squarico-19.png')
          li: a(href='https://twitter.com/miltonandsmall'): img(src='images/1462255654_squarico-18.png')
          li: a(href='https://www.instagram.com/miltonandsmall/'): img(src='images/1462181596_squarico-20.png')
      ul.social-links.home-social-links
          //- Below icons Maicol Torti https://www.iconfinder.com/iconsets/squarico-free
          li: a(href='https://www.facebook.com/miltonandsmall'): img(src='images/1462181599_squarico-19.png')
          li: a(href='https://twitter.com/miltonandsmall'): img(src='images/1462255654_squarico-18.png')
          li: a(href='https://www.instagram.com/miltonandsmall/'): img(src='images/1462181596_squarico-20.png')
      a(href='javascript:void(0)', class='icon')
        div.hamburger
          div.menui.top-menu
          div.menui.mid-menu
          div.menui.bottom-menu

  //- #find-map: .container-fluid
  //-   div#map(style="width: 100%; height: 100%;")

  #find-list: .container
    .row.locations-header
      .col-xs-10.col-xs-offset-1.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1
        h1 Find Us!
        p Milton & Small can be found at specialty shops, natural grocery stores, and neighborhood markets throughout the San Francisco Bay Area and beyond!
        p While we keep this list up to date as possible, we suggest checking with your local store to be sure they carry the specific products you want.
    .row.locations
      .col-xs-12.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.loc-details
        h2 San Francisco Bay Area
        ul
          li: a(href='https://munchery.com/') Munchery
        h3 East Bay
        ul
          li: a(href='https://www.alamedanaturalgrocery.com/ ') Alameda Natural Foods
          li: a(href='http://www.berkeleybowl.com/') Berkeley Bowl
          li: a(href='http://www.berkeleybowl.com/') Berkeley Bowl West
          li: a(href='http://www.naturalgrocery.com') El Cerrito Natural Grocery
          li: a(href='http://farmerjoesmarket.com/') Farmer Joe's
          li: a(href='http://farmerjoesmarket.com/') Farmer Joe's (Little Joe's)
          li: a(href='http://www.tokyofish.net/') Tokyo Fish Market
          li: a(href='http://www.wholefoodsmarket.com/') Whole Foods Berkeley (Telegraph)
          li: a(href='http://www.wholefoodsmarket.com/') Whole Foods Dublin
          li: a(href='http://www.wholefoodsmarket.com/') Whole Foods Oakland
          li: a(href='http://www.wholefoodsmarket.com/') Whole Foods Walnut Creek
    .row.locations
      .col-xs-12.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.loc-details
        h3 North Bay
        ul
          li: a(href='http://andysproduce.com/') Andy’s Produce Market
          li: a(href='http://www.genatural.com/') Good Earth, Fairfax
          li: a(href='http://www.genatural.com/') Good Earth, Tam Valley
          li: a(href='http://driversmarket.com/') Drivers Market
          li: a(href='http://www.yelp.com/biz/santa-venetia-super-market-san-rafael') Santa Venetia Market
          li: a(href='http://www.srcommunitymarket.com/') Santa Rosa Community Market
          li: a(href='http://www.woodlandsmarket.com/market/kentfield/') The Woodlands Store (Kentfield)
          li: a(href='http://www.wholefoodsmarket.com/') Whole Foods Napa

    .row.locations
      .col-xs-12.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.loc-details
        h3 San Francisco
        ul
          li: a(href='http://www.biritemarket.com/') BiRite (Divisadero + 18th St)
          li: a(href='http://www.yelp.com/biz/denhards-market-san-francisco') Denhard’s Market
          li: a(href='http://www.ducloimarket.com/') Duc Loi Supermarket
          li: a(href='http://www.yelp.com/biz/five-markets-san-francisco') Five Markets
          li: a(href='http://www.yelp.com/biz/golden-natural-foods-san-francisco') Golden Natural Foods
          li: a(href='http://www.greenearthnaturalfoods.com/') Green Earth Natural Foods
          li: a(href='http://gussmarket.com/market-locations/17th-and-harrison-mission-san-francisco/') Gus’s Mission Market
          li: a(href='http://gussmarket.com/market-locations/haight-street-market-san-francisco/') Haight St. Market
          li: a(href='http://www.yelp.com/biz/harvest-hills-market-san-francisco') Harvest Hills Market
          li: a(href='http://lebeaumarket.com/') Lebeau Nob Hill Market
          li: a(href='http://www.otheravenues.coop/') Other Avenues
          li: a(href='http://www.rainbow.coop/') Rainbow Grocery
          li: a(href='http://www.realfoodco.com/') Real Foods (Polk St)
          li: a(href='http://www.realfoodco.com/') Real Foods (Fillmore St)
          li: a(href='http://smallfoodssf.com/') Small Foods
          li: a(href='http://www.yelp.com/biz/soma-wines-and-spirits-san-francisco') SoMa Wine & Spirits
          li: a(href='http://www.yelp.com/biz/the-nature-stop-san-francisco') The Nature Stop
          li: a(href='http://www.wholefoodsmarket.com/') Whole Foods Franklin St.
          li: a(href='http://www.wholefoodsmarket.com/') Whole Foods Haight St.
          li: a(href='http://www.wholefoodsmarket.com/') Whole Foods Noe Valley
          li: a(href='http://www.wholefoodsmarket.com/') Whole Foods SoMa

    .row.locations
      .col-xs-12.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.loc-details
        h3 South Bay
        ul
          li: a(href='http://www.wholefoodsmarket.com/') Whole Foods Blossom Hill
          li: a(href='http://www.wholefoodsmarket.com/') Whole Foods Campbell
          li: a(href='http://www.wholefoodsmarket.com/') Whole Foods Los Altos
          li: a(href='http://www.wholefoodsmarket.com/') Whole Foods Palo Alto

    .row.locations
      .col-xs-12.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.loc-details
        h2 Outside SF Bay Area
        ul
          li: a(href='https://sacfood.coop/') Sacramento Coop
          li: a(href='http://www.wholefoodsmarket.com/') Whole Foods Monterey
          li: a(href='')



















