extends ../layouts/default

block content
	#header-home: .container-fluid.header-wrapper.nav-logo-animate

		//- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
		//- ... or completely change this header to suit your design.
		div.nav-logo
			//- object(type='image/svg+xml', data='images/logo-main.svg')
			a(href='/'): img(src='images/milton-small-logo-name-only.png')
		ul(role='navigation' style='display:none;').mobilenav
			li.nav-logo
				a(href='/'): img(src='images/milton-small-logo-name-only-white.png')
			each link in navLinks
				li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
			ul.social-links
				//- Below icons Maicol Torti https://www.iconfinder.com/iconsets/squarico-free
				li: a(href='https://www.facebook.com/miltonandsmall'): img(src='images/1462181599_squarico-19.png')
				li: a(href='https://twitter.com/miltonandsmall'): img(src='images/1462255654_squarico-18.png')
				li: a(href='https://www.instagram.com/miltonandsmall/'): img(src='images/1462181596_squarico-20.png')
		ul.social-links.home-social-links
				//- Below icons Maicol Torti https://www.iconfinder.com/iconsets/squarico-free
				li: a(href='https://www.facebook.com/miltonandsmall'): img(src='images/1462181599_squarico-19.png')
				li: a(href='https://twitter.com/miltonandsmall'): img(src='images/1462255654_squarico-18.png')
				li: a(href='https://www.instagram.com/miltonandsmall/'): img(src='images/1462181596_squarico-20.png')
		a(href='javascript:void(0)', class='icon')
			div.hamburger
				div.menui.top-menu
				div.menui.mid-menu
				div.menui.bottom-menu

	.container
		.row: .col-sm-12.col-md-12.home-page-header
			.home-logo
				//- li: a(href='https://www.instagram.com/miltonandsmall/'): img(src='images/All-Natural-Babay-Diamond.png')
				//- object(type='image/svg+xml', data='images/transparent-logo.svg')
				img(src='images/all-natural-babay-diamond-compress.png')
			//- div.arrow.bounce
			//- 	p SCROLL

	.container-fluid
		.row: .col-sm-12.col-md-12.col-xs-12.home-slogan
			h1 MILTON &amp; SMALL IS AN EMERYVILLE, CA BASED BEVERAGE MANUFACTURER. WE SPECIALIZE IN HEMP MILK, COLD BREW COFFEES, PREMIUM INGREDIENTS, AND CALIFORNIA SOUL.
			h3 What we Brew...
			h2 READY-TO-DRINK BREWS

	.container
		.row.home-products
			.col-md-4.col-sm-4.col-xs-12
				img(src='images/1.1_Medium-Roast-compress.png')
				h3 Medium Roast Concentrate
				p  This celebration of coffees is charismatic, smooth, and lively. Enjoy over ice, lightly sweetened, with a dollop of cream, or all of the above!
				p INGREDIENTS: Water and Organic Coffees
			.col-md-4.col-sm-4.col-xs-12
				img(src='images/1.1_Dark-Roast-compress.png')
				h3 Dark Roast Concentrate
				p  The Dark Roast is a clean, chocolate-y and vibrant Latin American Coffee. This one's a favorite for pairing with generous amounts of milk for an iced (or hot) latte.
				p INGREDIENTS: Water and Organic Coffees
			.col-md-4.col-sm-4.col-xs-12
				img(src='images/1.1_Coffee-and-Chic-compress.png')
				h3 Coffee and Chicory Concentrate
				p  The Le Bon Temps Brew Lait is a delightful blend of select coffees and the finest chicory. Enjoy chilled with equal parts concentrate and 2% or dairy-free milk over ice. For hot, combine equal parts cold brew with scalded milk. Sweeten to taste.
				p INGREDIENTS: Water, Organic Coffees, Chicory

	.container-fluid
		.row.about-section
			.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-12
				h2 Milton &amp; Small: Past. Present. Future.
				p In 2012, this funky little beverage company was born with a line of cold brew coffees made the way I was taught years before in Florida. Despite all the kitchen mishaps, these original brews inspired my thirst for making delicious products with a creative touch.
				p Since those early batches, Milton &amp; Small has cultivated roots in the San Francisco Bay Area with our distinct packaging and lively brews. Each of these creations captures the soul of Milton & Small: a feel good vibe, positive energy, and commitment to the highest quality ingredients.
				p We’ve now grown our creations beyond just coffees and are endlessly seeking out innovative and unique ingredients. This is a new chapter on our journey and I’m excited to have you along for the ride.
				p Welcome to the tribe...
				p Yours truly,
				p(style='font-size: 24px;') -b, Owner
				h2 Are you Milton or Small?
				p MILTON &amp; SMALL is a nod to the literary great John Steinbeck and his novella <span>Of Mice and Men</span>. Why? Because it’s a timeless name that makes you want to be interested in what we’re doing. And there’s always more to it than meets the eye...
				//div#instafeed
                //
                //
				//script.
				//	var feed = new Instafeed({
				//		accessToken: '49109390.7788ccf.9a4db27db598411fa8427503afdf81e3',
				//		get: "popular",
				//		userId: "thaynsworth",
				//		clientId: "7788ccff376f4cef8dfb984b0ca8eaf4"
				//	});
				//	feed.run();













