extends ../layouts/default

block content
	.container-fluid
		.row: .col-sm-12.col-md-12.home-page-header
			//- img(src='images/logo-main.svg', alt='the image is broke', height='100', width='100')
			.home-logo
				object(type='image/svg+xml', data='images/logo-main.svg')
			img(src='images/down-arrow.png', class='home-arrow')
		.row.home-products-rtd
			.col-md-4
				img(src='images/rtd_black_white.jpeg')
			.col-md-4
				img(src='images/rtd_cacao_blue.jpeg')
			.col-md-4
				img(src='images/rtd_chaga_yellow.jpg')

