extends ../layouts/default

block content
	#header-home: .container-fluid.header-wrapper.nav-logo-animate

		//- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
		//- ... or completely change this header to suit your design.
		div.nav-logo.nav-logo-animate
			//- object(type='image/svg+xml', data='images/logo-main.svg')
			a(href='/'): img(src='images/milton-small-logo-name-only.png')
			ul(role='navigation').mobilenav
				li.nav-logo
					a(href='/'): img(src='images/milton-small-logo-name-only-white.png')
				each link in navLinks
					li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
				ul.social-links
					//- Below icons Maicol Torti https://www.iconfinder.com/iconsets/squarico-free
					li: a(href='https://www.facebook.com/miltonandsmall'): img(src='images/1462181599_squarico-19.png')
					li: a(href='https://twitter.com/miltonandsmall'): img(src='images/1462255654_squarico-18.png')
					li: a(href='https://www.instagram.com/miltonandsmall/'): img(src='images/1462181596_squarico-20.png')
			ul.social-links.home-social-links
					//- Below icons Maicol Torti https://www.iconfinder.com/iconsets/squarico-free
					li: a(href='https://www.facebook.com/miltonandsmall'): img(src='images/1462181599_squarico-19.png')
					li: a(href='https://twitter.com/miltonandsmall'): img(src='images/1462255654_squarico-18.png')
					li: a(href='https://www.instagram.com/miltonandsmall/'): img(src='images/1462181596_squarico-20.png')
			a(href='javascript:void(0)', class='icon nav-logo-animate')
				div.hamburger
					div.menui.top-menu
					div.menui.mid-menu
					div.menui.bottom-menu

	.container
		.row: .col-sm-12.col-md-12.home-page-header
			.home-logo
				object(type='image/svg+xml', data='images/transparent-logo.svg')
			//- div.arrow.bounce
			//- 	p SCROLL

	.container-fluid
		.row: .col-sm-12.col-md-12.col-xs-12.home-slogan
			h1 MILTON & SMALL IS AN EMERYVILLE, CA BASED BEVERAGE MANUFACTURER. WE SPECIALIZE IN COLD BREW COFFEES, PREMIUM INGREDIENTS, AND CALIFORNIA SOUL.
			h3 What we Brew...
			h2 READY-TO-DRINK BREWS

	.container
		.row.home-products
			.col-md-4.col-sm-4.col-xs-12
				img(src='images/rtd-black.png')
				h3 Black
				p  These are our favorite coffees brewed the way we know best. Enjoy this one straight up, over ice, or as you please.
				p INGREDIENTS: Organic Coffees and Water
			.col-md-4.col-sm-4.col-xs-12
				img(src='images/rtd-cacao.png')
				h3 Cacao Coffee
				p  Together at last... A cold brew infusion of curated coffees and cacao, the might bean from which we get chocolate!
				p INGREDIENTS: Organic Coffees, Organic Cacao Nibs, Water
			.col-md-4.col-sm-4.col-xs-12
				img(src='images/rtd-chaga.png')
				h3 Maple Syrup Sweetened Cacao Coffee with Chaga
				p  Our Chocolate Coffee Elixir is lightly sweetened with pure, dark maple syrup and enriched with Chaga.
				p INGREDIENTS: Cold Brew Cacao Coffee (Organic Coffees, Organic Cacao Nibs, Water), Organic Maple Syrup, Chaga Extract
		.row.home-products
			.col-md-4.col-sm-4.col-xs-12
				img(src='images/medium-roast.png')
				h3 Medium Roast Concentrate
				p  This celebration of coffees is charismatic, smooth, and lively. Enjoy over ice, lightly sweetened, with a dollop of cream, or all of the above!
				p INGREDIENTS: Organic Coffees and Water
			.col-md-4.col-sm-4.col-xs-12
				img(src='images/dark-roast.png')
				h3 Dark Roast Concentrate
				p  The Dark Roast is a clean, chocolate-y and vibrant Latin American Coffee. This one's a favorite for pairing with generous amounts of milk for an iced (or hot) latte.
				p INGREDIENTS: Organic Coffees and Water
			.col-md-4.col-sm-4.col-xs-12
				img(src='images/chicory.png')
				h3 Coffee and Chicory Concentrate
				p  The Le Bon Temps Brew Lait is a delightful blend of select coffees and the finest chicory. Enjoy chilled with equal parts concentrate 2% or dairy-free milk over ice. For hot, combine equal parts cold brew with scalded milk. Sweeten to taste.
				p INGREDIENTS: Organic Coffees, Chicory, Water

	.container-fluid
		.row.about-section
			.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-12
				h2 Milton & Small: Past. Present. Future.
				p In 2012, this funky little beverage company was born with a line of cold brew coffees made the way I was taught years before in Florida. Despite all the kitchen mishaps, these original brews inspired my thirst for making delicious products with a creative touch.
				p Since those early batches, Milton & Small has cultivated roots in the San Francisco Bay Area with our distinct packaging and lively brews. Each of these creations captures the soul of Milton & Small: a feel good vibe, positive energy, and commitment to the highest quality ingredients.
				p We’ve now grown our creations beyond just coffees and are endlessly seeking out innovative and unique ingredients. This is a new chapter on our journey and I’m excited to have you along for the ride.
				p Welcome to the tribe... You lucky devil!
				p Yours truly,
				p(style='font-size: 24px;') -b, Owner
				h2 Are you Milton or Small?
				p MILTON & SMALL is a nod to the literary great John Steinbeck and his novella Of Mice and Men. Why? Because it’s a timeless name that makes you want to be interested in what we’re doing. And there’s always more to it than meets the eye...













