extends ../layouts/default

block content
	#header-home: .container-fluid.header-wrapper.nav-logo-animate

		//- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
		//- ... or completely change this header to suit your design.
		div.nav-logo.nav-logo-animate
			//- object(type='image/svg+xml', data='images/logo-main.svg')
			img(src='images/milton-small-logo-name-only.png')
			ul(role='navigation').mobilenav
				each link in navLinks
					li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
				.nav-logo
					img(src='images/milton-small-logo-name-only-white.png')
				ul.social-links
					//- Below icons Maicol Torti https://www.iconfinder.com/iconsets/squarico-free
					li: a(href='https://www.facebook.com/miltonandsmall'): img(src='images/1462181599_squarico-19.png')
					li: a(href='https://twitter.com/miltonandsmall'): img(src='images/1462255654_squarico-18.png')
					li: a(href='https://www.instagram.com/miltonandsmall/'): img(src='images/1462181596_squarico-20.png')
			a(href='javascript:void(0)', class='icon nav-logo-animate')
				div.hamburger
					div.menui.top-menu
					div.menui.mid-menu
					div.menui.bottom-menu

	.container
		.row: .col-sm-12.col-md-12.home-page-header
			.home-logo
				object(type='image/svg+xml', data='images/transparent-logo.svg')
			div.arrow.bounce
				p SCROLL

	.container-fluid
		.row: .col-sm-12.col-md-12.col-xs-12.home-slogan
			h1 MILTON & SMALL IS AN EMERYVILLE, CA BASED BEVERAGE MANUFACTURER. WE SPECIALIZE IN COLD BREW COFFEES, PREMIUM INGREDIENTS, AND CALIFORNIA SOUL.

	.container-fluid
		.row.home-products
			.col-md-4.col-sm-4.col-xs-12

			.col-md-4.col-sm-4.col-xs-12

			.col-md-4.col-sm-4.col-xs-12
		.row.home-products
			.col-md-4.col-sm-4.col-xs-12

			.col-md-4.col-sm-4.col-xs-12

			.col-md-4.col-sm-4.col-xs-12















