extends ../layouts/default

block content
	#header-home: .container-fluid

		//- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
		//- ... or completely change this header to suit your design.
		div.nav-logo.nav-logo-animate
			object(type='image/svg+xml', data='images/logo-main.svg')
		ul(role='navigation').mobilenav
			each link in navLinks
				li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
			ul.social-links
				//- Below icons Maicol Torti https://www.iconfinder.com/iconsets/squarico-free
				li: a(href='https://www.facebook.com/miltonandsmall'): img(src='images/1462181599_squarico-19.png')
				li: a(href='https://twitter.com/miltonandsmall'): img(src='images/1462255654_squarico-18.png')
				li: a(href='https://www.instagram.com/miltonandsmall/'): img(src='images/1462181596_squarico-20.png')
		a(href='javascript:void(0)', class='icon icon-animate')
			div.hamburger
				div.menui.top-menu
				div.menui.mid-menu
				div.menui.bottom-menu

	.container
		.row: .col-sm-12.col-md-12.home-page-header
			//- img(src='images/logo-main.svg', alt='the image is broke', height='100', width='100')
			.home-logo
				object(type='image/svg+xml', data='images/logo-main.svg')
			div.arrow.bounce
		.row.home-products
			h2 Personal Sized
			.col-md-4.col-sm-4.col-xs-12
				img(src='images/rtd_black_white.jpeg')
			.col-md-4.col-sm-4.col-xs-12
				img(src='images/rtd_cacao_blue.jpeg')
			.col-md-4.col-sm-4.col-xs-12
				img(src='images/rtd_chaga_yellow.jpg')
		.row.home-products
			h2 Concentrates
			.col-md-4.col-sm-4.col-xs-12
				img(src='images/conc_coffee_and_chic.jpg')
			.col-md-4.col-sm-4.col-xs-12
				img(src='images/conc_dark_roast.jpg')
			.col-md-4.col-sm-4.col-xs-12
				img(src='images/conc_dark_roast.jpg')

