extends ../layouts/default

block content
	.container-fluid#home-page
		.row: .col-sm-12.col-md-12
			//- img(src='images/logo-main.svg', alt='the image is broke', height='100', width='100')
			.home-logo
				object(type='image/svg+xml', data='images/logo-main.svg')
			span(class='glyphicon glyphicon-triangle-bottom', aria-hidden='true')
