#cemetary {

  .cemetary-header {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    font-family: 'MetroMediumHPLHS';
    margin: 0px auto 40px;
    border-bottom: 2px solid black;

    h1 {
      margin-bottom: 50px;
    }
  }
}