#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

// #find-list {
//   height: 100%;

//   .container-fluid {
//     height: 100%;
//     min-height: 100%;
//   }

//   .find-list {
//     background-color: white;
//     opacity: .8;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     min-width: 240px;
//     min-height: 600px;
//   }
// }

