#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#find-list {

  ul {
    list-style-type: none;
  }

  p {
    font-size: 25px;

  }

  a {
    font-size: 21px;
    color: white;
    text-decoration: none;

    &:hover {
      color: black;
    }
  }

  .locations {
    margin-top: 30px;
  }

  .city {
    background-color: black;
    color: white;
  }

  .loc-details {
    height: 100%;
    border: 5px solid black;
    background-color: darkgrey;
    padding: 20px 0;
  }
}

