


.home-page-header {
  background-color: lightgreen;
  text-align: center;
  padding: 4% 0;

  .home-logo {

    object {
      width: 50%;
      height: auto;
    }
  }

  .home-arrow {

  }
}

.home-products-rtd {
  background-color: lightyellow;
  text-align: center;
  padding: 4% 0;

  img {
    width: 70%;
  }
}

