


#home-page {
  background-color: lightgreen;
  text-align: center;
  // background-image: url("../../images/logo-main.svg");

  .home-logo {

    object {
      width: 60%;
      height: auto;
    }
  }
}

